/* 
1. Posicionamiento
2. Modelo de Caja
3. Tipografia
4. Visuales
5. Otros
*/

:root{
    /* COLORS */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFF;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

/* ----------------------------------HEADER---------------------------------- */

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header__text-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header__text-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__text-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--soft-orange);
}

.header__button{
    border: 1px solid white;
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 5px;
    cursor: pointer;
}

.header__button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

/* ----------------------------------MAIN PART---------------------------------- */

/* ----------------SECTION ONE---------------- */

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.section-one{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.section-one__backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('assets/img/bitcoin.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-one__container-title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.section-one__container-title h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--black);
}

.section-one__container-title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-tables-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main-currency-table{
    scroll-snap-align: center;
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;   
    margin-right: 0;
    margin-left: 0;
}

.main-currency-table__title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.currency-table__container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table__container table{
    width: 100%;
    height: 100%;
}

.currency-table__container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.table__top-left{
    border-radius: 15px 0 0 0;
}

.table__top-right{
    border-radius: 0 15px 0 0;
}

.table__bottom-left{
    border-radius: 0 0 0 15px;
}

.table__bottom-right{
    border-radius: 0 0 15px 0;
}

.currency-table__container .table__right{
    font-weight: normal;
    color: #757575;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.currency-table__container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table__container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table__date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;

}

.currency-table__container p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}

.main-commission-table__title{
    color: var(--secondary-blue);
}

.commission-table__date{
    background-color: #E7F5FF;
}

/* ----------------SECTION TWO---------------- */

.section-two{
    background-color: var(--warm-black);
    width: 100%;
    padding-bottom: 40px;
    padding-top: 60px;
    position: relative;
}

.section-two__text-info-container{
    width: 70%;
    max-width: 900px;
    min-width: 288px;
    margin: 0 auto;
    margin-bottom: 32px;
    text-align: center;
}

.section-two__text-info-container h2{
    color: var(--just-white);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-bottom: 24px;
}

.section-two__text-info-container p{
    color: #808080;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.section-two__container-articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-two__article{
    width: 288px;
    min-height: 152px;
    background-color: #282623;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 4px;
    line-height: 1.8rem;
    margin-bottom: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.icons{
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-two__article span{
    width: 24px;
    height: 24px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.icons--watch{
    background-image: url('assets/icons/clock.svg');
}

.icons--eye{
    background-image: url('assets/icons/eye.svg');
}

.icons--money{
    background-image: url('assets/icons/dollar-sign.svg');
}

.icons--check{
    background-image: url('assets/icons/check-circle.svg');
}

.section-two__article h3{
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--just-white);
    margin-bottom: 10px;
}

.section-two__article p{
    font-weight: 500;
    font-size: 1.4rem;    
    color: #808080;

}

.icons--batabit{
    background-image: url('assets/icons/batata.svg');
    width: 40px;
    height: 24px;
    position: absolute;
    top: -12px;
    left: calc(50% - 7px);
}

/* ----------------SECTION THREE---------------- */

.section-three__container{
    width: 100%;
    height: 50vh;
    background-image: url('assets/img/bitcoinbaby2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 64px;
}

.section-three__title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}

/* ----------------SECTION PLANS---------------- */

.section-plans {
    width: 100%;
    background-color: var(--just-white);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.section-plans__container-description {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.section-plans__container-description h3 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--warm-black);
    margin-bottom: 24px;
}

.section-plans__container-description p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575;
}

.section-plans__container-prices {
    width: 100%;
    height: 300px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.section-plans__article-prices {
    scroll-snap-align: center;
    width: 190px;
    height: 247px;
    position: relative;
    border: 1px solid var(--just-white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    flex: none;
    margin-left: 10px;
    margin-right: 10px;
}

.section-plans__article-prices .recomendado {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 700;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
    padding: 8px;
    position: absolute;
    border-radius: 8px;
    top: -15px;
    left: calc(50% - 50px);
}

.section-plans__article-prices .pago-text{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #000;
    margin-top: 30px;
}

.section-plans__price {
    width: 77px;
    height: 56px;
    font-family: 'Inter', sans-serif;
    display: flex;
    margin-top: 10px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.section-plans__price span{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #363636;
    padding-top: 8px;
}

.section-plans__price p{
    font-size: 5.2rem;
    line-height: 6.3rem;
    font-weight: bold;
    color: #000;
    padding-left: 2px;
}

.section-plans__article-prices .ahorro-text {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #757575;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 16px;
}

.boton-escoger{
    width: 151px;
    height: 48px;
    margin: 0 auto;
    border: 2px solid #F7931A;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #FAF8F7;
}

.boton-escoger a{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    color: #201E1C;
    text-align: left;
    text-decoration: none;
    margin-left: 16px;
}

.icons--arrow-orange {
    background-image: url('assets/icons/orange-right-arrow.svg');
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

/* ----------------------------------FOOTER---------------------------------- */

.footer {
    background-color: var(--bitcoin-orange);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__side-left,
.footer__side-right {
    width: 40%;
}

.footer__side-right {
    display: flex;
    justify-content: flex-end;
}

.footer__list{
    list-style: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
}

.footer__item {
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer__link-item {
    color: var(--just-white);
    text-decoration: none;
}

.footer__logo-batabit {
    background-image: url('assets/img/logo-footer.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 80px;
}


